@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}

body{
  background-color: #F6F7FC;
}

.home-back{
  background-image: url("https://res.cloudinary.com/alinanovof/image/upload/v1620928027/pexels-tatiana-614484_wcyyy3.jpg");
}



/* Search components start*/
.hotelsList{
  display: grid;
  /* grid-auto-flow: column; */
  column-gap: 16px;
  grid-template-columns: repeat(4,1fr);
  row-gap: 16px;
}

.hotelItem{
  margin-top: 10px;
  padding: 18px;
  border: indigo solid 1px;
}
.search{
margin-top: 10px;
}
#button{
margin-top: 10px;
}
#loader{
  margin-top: 20px;
}
/* Search components end*/

